{% extends 'db410c-uboot.jinja2' %}
{% set exclusive = 'True' %}
{% set connection_command = 'telnet localhost 2000' %}
{% set hard_reset_command = 'echo 0 > /dev/gpio23/value' %}
{% set power_off_command = 'echo 0 > /dev/gpio23/value' %}
{% set power_on_command = 'echo 1 > /dev/gpio23/value' %}
