{% extends 'db410c-uboot.jinja2' %}
{% set exclusive = 'True' %}
{% set connection_command = 'telnet localhost 2000' %}
{% set hard_reset_command = '/gpio.sh 23 off' %}
{% set power_off_command = '/gpio.sh 23 off' %}
{% set power_on_command = '/gpio.sh 23 on' %}
