{% extends 'nrf52-nitrogen.jinja2' %}
{% set power_off_command = '/nitrogen-ftdi.sh DA1MBQPC off' %}
{% set power_on_command = '/nitrogen-ftdi.sh DA1MBQPC on' %}
{% set connection_command = '/nitrogen-ftdi.sh DA1MBQPC connect' %}
{% set board_id = '9009022103BB4AD7FE652526' %}
